.headerAd {
    width: 100%;
    min-height: 100vh;
    color: #000;
    position: relative;
    background-image: url("https://res.cloudinary.com/dxly910uj/image/upload/v1695577824/pexels-pixabay-207665_y1jnre.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 20px; */
  }
  
  .headerAd #logo { 
    height: 80px;
  }
  
  #intro-text {
    width: 90%;
    margin: auto;
    margin-bottom: 170px;
  }
  
  #intro-text * {
    text-align: center;
  }
  
  #intro-text h1 {
    margin-bottom: 30px;
  }
  
  #intro-text h1 #first-part {
    font-weight: 100;
  }
  
  #intro-text h1 #second-part {
    font-size: 1.5em;
  }
  
  #intro-text h3 {
    font-style: italic;
  }
  
  .headerAd nav {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .headerAd nav button {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 12px;
    color: white;
    border: none;
    margin-right: 2vw;
    min-width: 300px;
  }
  
  .headerAd nav button:first-child {
    background-color: indigo;
    border: 3px solid indigo;
  }
  
  .headerAd nav button:first-child:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: indigo;
  }
  
  .headerAd nav button:last-child {
    background-color: rgb(204, 63, 140);
    border: 3px solid rgb(204, 63, 140);
  }
  
  .headerAd nav button:last-child:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(204, 63, 140);
  }
  
  .headerAd nav button:hover {
    transition: background-color 0.5s, color 0.5s;
  }
  
  #about-us {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #about-us .about-item {
    width: 30%;
    text-align: center;
    margin-right: 20px;
  }
  
  #about-us .about-item h2 {
    font-style: italic;
    font-weight: 900;
    font-size: 1.4em;
  }
  
  #about-us .about-item i {
    border: 3px solid rgb(205, 127, 50);
    font-size: 1.5em;
    border-radius: 100%;
    width: 120px;
    padding: 30px;
    line-height: 100px;
  }
  .logoo{
    background-color: #c03b8d84;
    
  }